# Ignore everything
*

# Allow folders (so we can still find files inside them)
!*/

# Allow docker-compose files anywhere
!*docker-compose.yaml
!/docs/*.md

# Allow everything under homeassistant/config/blueprints/
# !homeassistant/config/blueprints/**
# !homeassistant/hassconf/config/settings.conf
# !homeassistant/config/automations.yaml
# !homeassistant/config/configuration.yaml
# !homeassistant/config/scenes.yaml
# !homeassistant/config/scripts.yaml
!scripts/*